
.login__wrapper{
  .wrapper-flex{
    display: flex;
    .item{
      margin-left: 2vw;
      div{
        margin-top: 2.3vw;
        .input-login{
          color: #3a3a3a;
          display: block;
          width: 30vw;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
          font-size: 1.3vw;
          font-weight: bold;
          align-items: center;
          resize: none;
        }
        .input-login::placeholder{
          color: #C7C7C7;
        }
      }
    }
    .img-wrapper{
      img{
        width: 25vw;
        margin-left: 1vw;
        margin-top: 4vw;
      }
      
    }
    .sign-up__button{
      background: linear-gradient(-45deg, #ffe032, #f3d965, #fecf69, #f1ff32);
      background-size: 800% 400%;
      padding: 1vw 2vw;
      display: inline-block;
      border: none;
      border-radius: 0.4vw;
      font-size: 0.9vw;
      font-weight: 700;
      transition: all .5s ease-in-out;
      animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
      transform: scale(1);
      margin-bottom: 1vw;
    }
    
    .sign-up__button:hover {
      animation: gradient 3s infinite;
      transform: scale(1);
     }
     
     .sign-up__button:active {
      animation: gradient 3s infinite;
      transform: scale(1);
     }

    .display-buttons{
      button{
        margin-right: 16vw;
      }
      label{
        font-size: 0.79vw;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  .login-logo{
    width: 4vw;
  }
}



.login_main-text{
  font-size: 2vw;
  margin-bottom: 1vw;
  margin-top: 1.3vw;
  color: #423D3D;
  font-weight: 800;
}

.register-flex{
  display: flex;
  input{
    width: 14vw;
  }
  div + div{
    margin-left: 2vw;
  }
}


.register-input{
  color: #3a3a3a;
  display: block;
  width: 30vw;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 1.3vw;
  font-weight: bold;
  align-items: center;
  resize: none;
}
.register-input::placeholder{
  color: #C7C7C7;
}