.footer{
  display: flex;
  background-color: #2F2F2F;
  justify-content: space-around;
  .left{
    display: flex;
    svg{
      width: 2.5vw;
      fill: rgb(207, 207, 207);
    }
    svg + svg{
      margin-left: 1vw;
    }
  }
  .right{
    display: flex;
    svg{
      width: 2.5vw;
      fill: rgb(207, 207, 207);
    }
    svg + svg{
      margin-left: 1vw;
    }
  };
  .center{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat';
    .center-text{
      font-weight: 400;
      font-size: 1.7vw;
      margin-top: 1vw;
    }
    .text-bold{           
      font-weight: 600;
      font-size: 2vw;
      margin-top: 0.5vw;
    }
    .menu-list{
      font-size: 1vw;
      margin-top: 1vw;
      justify-content: center;
      display: flex;
      li + li{
        margin-left: 1vw;
      } 
    }
    .text-low{
      color: #9C9C9C;
      margin-top: 1vw;
      font-style: normal;
      font-weight: 300;
      font-size: 1vw;
      margin-bottom: 1vw;
    }
  }
  ul{
    padding: 0;
  }
}