.team-portret{
  width: 24vw;
  img{
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.45)
  }
}

.info-flex{
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;

  .info-left{
    max-width: 44vw;
    .big-info-left-text{
      font-family: "AllianceNo1-Bold";
      font-size: 2.8vw;
      line-height: 3vw;
    }
    .little-info-left-text{
      font-size: 1vw;
      margin-top: 1vw;
      p{
        font-family: "AllianceNo1-SemiBold";
        margin-top: 0.3vw;
      }
    }
  }
}


.Rules{
  overflow-x: hidden;
}