@import "../../global.scss";
$bg-img: url('../../img/Background.jpg');


@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}


.intro{
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  line-height:0;

  .main-screen{
    position: relative;
    

      img{
        width: 100%;
      }

      .marquee-w {
        position: absolute;
        display: block;
        width: 100%;
        height: 25vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }

      .marquee-index {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 17vw;
        overflow-x: hidden;
        line-height: normal;
        overflow-block: hidden;
        z-index: -1;

        .track {
          position: absolute;
          white-space: nowrap;
        }

        .track > p {
          font-size: 13vw;
          font-family: 'Bebas Neue';
          color: transparent;
          -webkit-text-stroke-width: 0.2vw;
          -webkit-text-stroke-color: white;
          white-space: nowrap;
          text-transform: uppercase;
        }
      }
  }
}

.BtnWrapper-intro{
  position: absolute;
  height: 5vw;
  left: 44%;
  top: 70%;
}

.Intro-Line-full-button{
  background: linear-gradient(-45deg, #ffe032, #72c597, #e569fe, #32b4ff);
  background-size: 800% 400%;
  padding: 1.5vw 2vw;
  display: inline-block;
  border: none;
  border-radius: 0.4vw;
  font-size: 1vw;
  font-weight: 700;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  transform: scale(1);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.Intro-Line-full-button:hover {
  animation: gradient 3s infinite;
  transform: scale(1);
 }
 
 .Intro-Line-full-button:active {
  animation: gradient 3s infinite;
  transform: scale(1);
 }