.app{
  overflow-x: hidden;
}

.Btn-Flex{
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
  background: #EFEFEF;
}

.MainPage-BigText{
  font-size: 2vw;
  font-family: "AllianceNo1-Bold";
  margin-top: 1vw;
}